#sizeBlock{
    height: 400px;
}

#sizeImg{
    max-width: 300px;
    max-height: 300px;
}

#textSize {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}
